.navbar-container {
    background-color: #2874f0;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-link {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  
  .cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }